<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AddDoctor</servlet-name>
  	<display-name>AddDoctor</display-name>
  	<description></description>
  	<servlet-class>gov.edu.oupp.java.hospital.controller.AddDoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSpecialist</servlet-name>
  	<display-name>AddSpecialist</display-name>
  	<description></description>
  	<servlet-class>gov.edu.oupp.java.hospital.controller.AddSpecialist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>gov.edu.oupp.java.hospital.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogout</servlet-name>
  	<display-name>AdminLogout</display-name>
  	<description></description>
  	<servlet-class>gov.edu.oupp.java.hospital.controller.AdminLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteDoctor</servlet-name>
  	<display-name>DeleteDoctor</display-name>
  	<description></description>
  	<servlet-class>gov.edu.oupp.java.hospital.controller.DeleteDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddDoctor</servlet-name>
  	<url-pattern>/AddDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSpecialist</servlet-name>
  	<url-pattern>/AddSpecialist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogout</servlet-name>
  	<url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteDoctor</servlet-name>
  	<url-pattern>/DeleteDoctor</url-pattern>
  </servlet-mapping>
</web-app>
