<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>servletconfigdemo</display-name>
  
  <servlet>
    <servlet-name>ServletConfigApp</servlet-name>
    <servlet-class>gov.servlet.ServletConfigApp</servlet-class>
    <init-param>
      <param-name>number1</param-name>
      <param-value>20</param-value>
    </init-param>
    <init-param>
      <param-name>number2</param-name>
      <param-value>40</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigApp</servlet-name>
    <url-pattern>/ServletConfigApp</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>configindex.html</welcome-file>
  </welcome-file-list>
</web-app>